.container {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
}

.container > div:nth-of-type(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.cardManager {
  width: 100%;
  height: 80px;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cardManager > button:nth-of-type(1) {
  width: 100px;
  height: 40px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
  background-color: rgb(21, 50, 169);
  color: white;
}

.cardManager > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.cardManager > div:nth-of-type(1) > input {
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 8px;
  text-indent: 6px;
  font-size: 18px;
  font-weight: 400;
}

.cardManager > div:nth-of-type(1) > input:focus-visible {
  outline: none;
}

.cardManager > div:nth-of-type(1) > button {
  width: 100px;
  height: 40px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
  background-color: rgb(21, 50, 169);
  color: white;
}

.filterLabel {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.filterLabel + select {
  height: 40px;
  width: 140px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
}

.filterLabel + select:focus-visible {
  outline: none;
}

.newCard {
  top: 140%;
  width: 600px;
  height: 400px;
  background-color: white;
  position: absolute;
  z-index: 2;
  border-radius: 12px;
  background-color: rgb(21, 50, 169);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.newCard > div {
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.newCard > div > label {
  display: inline-block;
  width: 40% !important;
  color: white;
  font-size: 20px;
}

.newCard > div > input {
  border: none;
  border-radius: 12px;
  width: 60% !important;
  text-indent: 6px;
  height: 40px;
}

.newCard > div > input:focus-visible {
  outline: none;
}

.newCard > div:nth-of-type(3) > select {
  width: 60%;
  height: 40px;
}

.newCard > div:nth-of-type(3) > select:focus-visible {
  outline: none;
}

.createButton {
  border: none;
  border-radius: 8px;
  width: 80px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
}
