* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

body {
  width: 100%;
  padding-top: 30px;
  background: rgb(10, 8, 34);
}
